h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 35pt;
    padding-bottom: 1rem;
}

h2 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 600;
    font-size: 20pt;
}

h3 {
    font-size: 16px; 
    font-style: italic; 
    font-weight: 600;
}

h4 {
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    margin: 0;
}

.carousel {
    justify-content:center ;
}

.carousel-item {
    padding-right: 9%;
    padding-left: 9%
}

.carousel-control-prev  {
    justify-content: flex-start;
    position: absolute;
}

.carousel-control-next {
    justify-content: flex-end;
    position: absolute;
}

.carousel .carousel-indicators button {
    background-color: rgb(155, 155, 155);
    width: 10px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
    padding-bottom: 1rem;
}

.prototypep {
    padding: 0;
}

.typetogether {
    margin-bottom: 0;
}

.softwaresymbol {
    padding-right: 0;
    height: 35px;
    padding-top: 10%;
}

.prototypebutton {
  font-family: 'Raleway', sans-serif;
  align-items: center;
  background-color: rgb(182, 182, 182);
  border: 0;
  border-radius: 100px;
  text-decoration: none;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: .5s ease;
}

.prototypebutton:hover{ 
  background-color: rgb(43, 43, 43);
  transition: .5s ease;
  color: #ffffff;
}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.27198%;
    padding-right: 4rem;
}

.videocontainer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 576px) {

    h1 {
        font-size: 30pt;
    }
    h2 {
        font-size: 15pt;
    }
    p {
        font-size: 10pt;
    }
}

@media only screen and (max-width: 992px) {

    .carouseldiv {
        margin-top: 2.5rem;
    }

    .videocontainer {
        margin-top: 2.25rem;
    }

}

/* Start of Page Button Animation*/

/*Start of Previous Button Animation*/
.prevbutton {
    position: relative;
    display: inline-block;
    color: rgb(182, 182, 182);
    overflow: hidden;
}

.prevbutton {
    /* Same as before */
    background: linear-gradient(to right, rgb(43, 43, 43), rgb(43, 43, 43) 50%, rgb(182, 182, 182) 50%);
}

.prevbutton {
    /* Same as before */
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-size: 200% 100%;
    background-position: 100%;
}

.prevbutton {
    /* Same as before */
    transition: background-position 275ms ease-out;
}

.prevbutton:hover {
    background-position: 0 100%;
}

.prevbutton {
    -webkit-mask: url(../Images/Prev\ Project\ Button.svg);
    mask: url(../Images/Prev\ Project\ Button.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.prevbuttontype {
    opacity: 0;
}
/*End of Previous Button Animation*/

/* Start of Next Button Animation*/
.nextbutton {
    position: relative;
    display: inline-block;
    color: rgb(182, 182, 182);
    overflow: hidden;
}

.nextbutton {
    /* Same as before */
    background: linear-gradient(to right, rgb(43, 43, 43), rgb(43, 43, 43) 50%, rgb(182, 182, 182) 50%);
}

.nextbutton {
    /* Same as before */
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-size: 200% 100%;
    background-position: 100%;
}

.nextbutton {
    /* Same as before */
    transition: background-position 275ms ease-out;
}

.nextbutton:hover {
    background-position: 0 100%;
}

.nextbutton {
    -webkit-mask: url(../Images/Next\ Project\ Button.svg);
    mask: url(../Images/Next\ Project\ Button.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: right;
    mask-position: right;
}

.nextbuttontype {
    opacity: 0;
}

#topButton {
    width: 55px;
    height: 55px;
    transition: opacity 0.35s ease-in-out;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    opacity: 0; 
    transition: .25s ease-out;
    border: none;
    background: none;
}

#topbuttoncircle {
    fill: rgb(182, 182, 182);
    transition: .5s ease;
}

#topbuttonarrow {
    fill: white;
}

#topButton:hover #topbuttoncircle {
    fill: rgb(43, 43, 43);
    transition: .5s ease;
}

  .content {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tooltipblock {
    position: relative;
    display: inline-block;
}
  
.tooltipblock .tooltiptext {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 10pt;
    padding-bottom: 1rem;
    opacity: 0;
    transition: ease .5s;
    width: max-content;
    background-color: rgb(255, 255, 255);
    color: rgb(43, 43, 43);
    text-align: center;
    border-radius: 0;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    top: 110%;
    left: 10%;
    z-index: 1;
}
  
.tooltipblock:hover .tooltiptext {
    opacity: 1;
}

.process {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.easteregg {
    text-decoration: none;
    color: inherit;
}

.easteregg:hover {
    color: inherit;
}

.process p{
    padding-top: 1rem;
    padding-bottom: 0;
    margin: 0;
}

.processvideos {
    padding-top: 1rem;
}

.processimages {
    padding-top: 1rem;
    padding-bottom: .30rem;
}

.process h3 {
    margin: 0;
}

.process h2 {
    margin: 0;
}

.processtextstart {
    padding-top: 1rem;
}

.storyboard {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: .30rem;
    padding-left: 0;
    padding-right: 0;
}

.float {
    float: right;
}

.processcontent h3 {
    padding-top: 1rem;
}

.processcontent h2 {
    padding-top: 1.5rem;
}


@media only screen and (min-width: 992px) {
    .processcontentsmall {
        padding-left: 25%;
        padding-right: 25%;
    }
}

.processbeginning h2 {
    padding: 0;
}

.processbeginning h1 {
    margin: 0;
}