@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

.content {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 35pt;
}
    
 h2 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 600;
    font-size: 20pt;
}
    
h3 {
    font-size: 15pt; 
    font-style: italic; 
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 12pt;
}

/*Start of Previous Button Animation*/
.emailbutton {
    position: relative;
    display: inline-block;
    background-color: rgb(182, 182, 182);
    overflow: hidden;
}

.emailbutton {
    /* Same as before */
    background-clip: border-box;
    -webkit-background-clip: border-box;
    background-size: 200% 100%;
    background-position: 100%;
    transition: .5s ease;
}

.emailbutton:hover {
    background-color: rgb(229, 57, 53);
    transition: .5s ease;
}

.emailbutton {
    -webkit-mask: url(../Images/Gmail\ Button.svg);
    mask: url(../Images/Gmail\ Button.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.emailbuttontype {
    font-size: 20pt;
    height: 50px;
    width: 50px;
    opacity: 0;
}

/*Start of Previous Button Animation*/
.linkedinbutton {
    position: relative;
    display: inline-block;
    background-color: rgb(182, 182, 182);
    overflow: hidden;
    transition: .5s ease;
}

.linkedinbutton:hover {
    background-color: rgb(2,136,209);
    transition: .5s ease;
}

.linkedinbutton {
    -webkit-mask: url(../Images/LinkedIn\ Button.svg);
    mask: url(../Images/LinkedIn\ Button.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.linkedinbuttontype {
    height: 50px;
    width: 50px;
    opacity: 0;
}

.contactbuttons {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    height: 15%;
}

.content {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media only screen and (max-width: 992px) {

    .aboutinfo {
        padding-top: 1.5rem;
    }

}

@media only screen and (max-width: 576px) {

    h2 {
        font-size: 15pt;
    }
    h3 {
        font-size: 12pt;
    }
    p {
        font-size: 10pt;
    }

}

.content {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#topButton {
    width: 55px;
    height: 55px;
    transition: opacity 0.35s ease-in-out;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    opacity: 0; 
    transition: .25s ease-out;
    border: none;
    background: none;
}

#topbuttoncircle {
    fill: rgb(182, 182, 182);
    transition: .5s ease;
}

#topbuttonarrow {
    fill: white;
}

#topButton:hover #topbuttoncircle {
    fill: rgb(43, 43, 43);
    transition: .5s ease;
}

/* Body entrance transition */
body {
  transform: translateY(700vh); /* start below screen */
  transition: transform 1.5s cubic-bezier(0, .9, 0.15, 1); /* springy bounce */
}

body.page-enter {
  transform: translateY(0); /* slide up into place */
}

body.page-exit {
  transform: translateY(-200vh); /* move up out of view */
  transition: transform 1.5s cubic-bezier(0.8, -.17, 0.85, .66);
}