/* Start of Project Button CSS */
.projectbuttonimage {
    position: relative;
}

.projectbuttonimage .img-fluid{
    display: block;
    width: 100%;
    box-shadow: .25rem .25rem .25rem lightgrey;
    opacity: 1;
    transition: .5s ease;
}

.projectbuttonimage .typecontainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.projectbuttonimage:hover .typecontainer {
    opacity: 1;
}
/*End of Project Button CSS */

h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 50px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}

/*Start of Fade in Animation*/
.projecttype {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.one {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.two {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .25s;
}

.three {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .5s;
}

.four {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: .75s;
}

.five {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.six {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.25s;
}

.seven {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.50s;
}

.eight {
    opacity: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 1.75s;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* End of Fade In Animation*/


