/* Start of Project Button CSS */
.projectbuttonimage {
    position: relative;
}

.projectbuttonimage .img-fluid{
    display: block;
    width: 100%;
    box-shadow: .25rem .25rem .25rem lightgrey;
    opacity: 1;
    transition: .5s ease;
    border-radius: 10%;
}

.projectbuttonimage .typecontainer {
    border-radius: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}

.projectbuttonimage:hover .typecontainer {
    border-radius: 10%;
    opacity: 1;
}

.projectbuttonimage .typecontainer img {
    border-radius: 10%;
}

.projectbuttonimage:hover .typecontainer img {
    border-radius: 10%;
}

/*End of Project Button CSS */

h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 50px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}

/* Body entrance transition */
body {
  transform: translateY(700vh); /* start below screen */
  transition: transform 1.5s cubic-bezier(0, .9, 0.15, 1); /* springy bounce */
}

body.page-enter {
  transform: translateY(0); /* slide up into place */
}

body.page-exit {
  transform: translateY(-200vh); /* move up out of view */
  transition: transform 1.5s cubic-bezier(0.8, -.17, 0.85, .66);
}

